.header {
  width: 100%;
  height: 100px;

  position: relative;
  background-color: #CFFAFE;
}

.header__users {
  margin-left: 60px;
}

.header__overlay {
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.header .header__overlay {
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(
    135deg,
    #0284C7 10%,
    #4F46E5 100%
  );
}

.header__title {
  position: absolute;
  top: 0;
  left: calc(50% - 180px / 2);
  color: #FFF;
  font-size: 36px;
}

@media screen and (max-width: 500px) {
  .header__users {
    margin-left: 0;
  }
}
