.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #111827 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #111827 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #111827 !important;
}


