.list__item {
  list-style-type: none;
  border: 1px solid #111827;
  padding: 10px;
  background-color: #fff;
  font-size: 18px;
}

.list__user {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-top: 0;
}

.list__user-name {
  transform: translateY(1px);
}

.list__title::first-letter {
  text-transform: uppercase;
}

.list__body::first-letter {
  text-transform: uppercase;
  color: #F472B6;
}

.progress {
  margin-top: 50px;
}