.post__item {
  padding: 10px;
  position: relative;

  list-style-type: none;
  border: 1px solid #111827;
  background-color: #fff;
  font-size: 18px;
}

.post__user {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-top: 0;
}

.post__user-name {
  transform: translateY(1px);
}

.post__title::first-letter {
  text-transform: uppercase;
}

.post__body::first-letter {
  text-transform: uppercase;
  color: #F472B6;
}

.post__delete,
.post__edit {
  position: absolute;
  top: 0;
  right: 1%;
  opacity: .3;
  transition: opacity .5s ease-out;
}

.post__delete:hover,
.post__edit:hover {
  cursor: pointer;
  opacity: 1;
}

.post__edit {
  top: 25px;
}

.progress {
  margin-top: 50px;
}