ul {
  padding: 0;
}

html {
  color: #111827;
}

.page {
  margin: 0;
  background-color: #ECFEFF;
  background-image: url(./images/cssfon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.root,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.root {
  width: 100%;
}

main {
  margin: 0;
  width: 75%;
  align-items: left;
}
